<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzerian Menu</title>
    <link href="./style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('yhteiset/header') %>
    <div class="menu-container">
      <div class="menu-grid">
        <% pöydät.forEach(pöytä => { %>
        <div class="menu-item <%= pöytä.vapaa ? 'varattu': 'hlöhöhö' %>">
          <h3>Pöytä <%= pöytä.pöytä_id %></h3>
          <p>Paikkoja: <%= pöytä.koko %></p>
          <p>Varattu: <%= pöytä.vapaa %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
